@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');

*{
    font-family: "IM Fell DW Pica SC", serif;
}

body{   
    background-color:#fff3c9;
    font-family: Arial;
    width: 100%;}
/* modif */a{text-decoration: none; color:black;}
a:hover{text-decoration: underline;}body>header{
    background-color: transparent;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;
    padding:0;}
body>header img{
    height:7em;}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid #99b;
    border-radius: 1em;
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 1px solid rgb(232, 12, 12);
    border-radius: 1em;}
body>header a:hover
{
    background-color: #FACF7F
;}
body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    border-left: 1px solid rgb(255, 0, 0);
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
}
body>header #user ul{
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    background-color: #FFFFFF
;
    border: 1px solid #99b;
    z-index: 1;
}
body>header #user ul li a{
   display: block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #99b;
}
body>header #user:hover ul{
    display:block;
}#wrapper{
    display:flex;
    width:80em;
    margin: 2em auto 2em auto;
    margin-right: 6em;
}
/* Encart titre de gauche modif */
#wrapper aside{
    background-color: #FACF7F;
    flex:1;
    padding:1em;
    border-radius: 1em;
    box-shadow: 10px 5px 20px 2px rgba(0, 0, 0, 0.5);
    margin-top: 2em;
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
}
/* Encart des messages à passer en parchemin modif  */
#wrapper main article{
    font-family: "IM Fell DW Pica SC", serif;
    background-color:#facf7f;
    padding:1em;
    margin-top: 2em;
    margin-bottom: 2em ;
    border-radius: 2em;
    box-shadow: 10px -5px 5px 2px rgba(0, 0, 0, 0.5);}
/* modif */
.has-dropcap:first-letter {    
    float: left;
    font-size: 4rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
    color: #8B0000
;
  }
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;}
#wrapper main article time{
    float:left;
}
/* modif */
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff3c9;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}pre{
    color:#aaa;
}form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}

/* ------------------------------button-global----------------------------- */
.btn-style {
  position: relative;
  border: 0.05em solid #000;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #000;
  padding: 0.5em;
  font-size: 0.9em;
  overflow: hidden;
}
.btn-style::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #403917
;
  transition: left 1s ease;
  z-index: -1;
}.btn-style:hover::after {
  left: 0;
}
.btn-style:hover {
  color: #fff;
  z-index: 1;
}
.logo {
    width: 50px;
    height: 50px;
}
/* ----------------------------------------------------------------------- */

/* ----------------------------button likes + hashtags-------------------- */
.form-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #000;
  margin-right: 1em;
  font-size: 1em;
}.liked {
  fill: rgb(255, 0, 0);
}.form-like svg:hover {
  fill: #FF0000
;
}.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #000;
  margin-right: 1em;
  font-size: 1em;
}.form-like a {
  text-decoration: none;
}
.form-like a:hover {
  text-decoration: underline;
}.form-like div {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  gap: 0.5em;
}
